.centro{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 4%;
}
a.nav-link{
    cursor:pointer;
}
a.navbar-brand{
    font-size: medium;
    cursor:pointer;
    text-align:center;  
    color:rgb(202, 173, 43)
}
p{
    font-size: small;
    text-align:center;  
    color:rgb(0, 0, 0)
    }
    h4{
    font-size: medium;
    text-align:center;
    }